<ion-content class="page-pagamento">
  <ion-card>
    <ion-title>Forma de pagamento</ion-title>
    <ion-grid>
      <ion-row>
        <form [formGroup]="creditCard" (ngSubmit)="buscar()">
          <ion-col col-6 no-padding>
            <ion-list no-padding>
              <ion-item no-padding>
                <ion-label floating>Bandeira:</ion-label>
                <ion-select formControlName="brand">
                  <ion-option value="master">Master</ion-option>
                  <ion-option value="visa">Visa</ion-option>
                  <ion-option value="elo">Elo</ion-option>
                  <ion-option value="amex">Amex</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-item no-padding>
              <ion-label floating> Número do cartão:</ion-label>
              <ion-input type="number" formControlName="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-item no-padding>
              <ion-label floating> Nome:</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-item no-padding>
              <ion-label floating> Validade:</ion-label>
              <ion-datetime displayFormat="MM / YY" min="2018-01-01" max="2040-12-31"
                            pickerFormat="MM / YY" doneText="Ok" cancelText="Cancelar"
                            formControlName="expirationDate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-item no-padding>
              <ion-label floating> CVV</ion-label>
              <ion-input type="number" formControlName="securityCode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 no-padding>
            <ion-item no-padding>
              <ion-label floating> CPF:</ion-label>
              <ion-input type="number" formControlName="cpf"></ion-input>
            </ion-item>
          </ion-col>
        </form>
      </ion-row>
    </ion-grid>

    <!-- Criar component -->
    <ion-item *ngIf="err.error && err.messages.required" text-wrap>
      {{err.messages.required}}
    </ion-item>
    <ion-item *ngIf="err.error && err.messages.maxLengthAndMinLength" text-wrap>
      {{err.messages.maxLengthAndMinLength}}
    </ion-item>
    <ion-item *ngIf="err.error && err.messages.maxLength" text-wrap>
      {{err.messages.maxLength}}
    </ion-item>
    <ion-item *ngIf="err.error && err.messages.minLength" text-wrap>
      {{err.messages.minLength}}
    </ion-item>
    <ion-item *ngIf="err.error && err.messages.pattern" text-wrap>
      {{err.messages.pattern}}
    </ion-item>
    <ion-item *ngIf="err.error && err.messages.general" text-wrap>
      {{err.messages.general}}
    </ion-item>
    <!-- Criar component -->

    <button class="button-prosseguir" ion-button type="submit">Prosseguir</button>
  </ion-card>
  <ion-card></ion-card>
</ion-content>
